[Unit]
Description=Hardrive Games Mount

[Mount]
What=/dev/nvme0n1
Where=/var/home/ayush/Games
Type=btrfs
Options=defaults,rw,nofail,ssd,noatime,compress=zstd:3,space_cache=v2,discard=async,subvol=@games

[Install]
WantedBy=multi-user.target
