[Unit]
Description=Hardrive Games Mount

[Mount]
What=/dev/disk/by-uuid/94127302-e784-4f23-8530-54b92f787ee5
Where=/var/home/ayush/Games
Type=btrfs
Options=defaults,rw,nofail,ssd,noatime,compress=zstd:3,space_cache=v2,discard=async,subvol=@games

[Install]
WantedBy=multi-user.target
