[Unit]
Description=Hardrive KDE Mount

[Mount]
What=/dev/disk/by-uuid/1856b6b3-9b82-4440-b5fc-86562578fd13
Where=/var/home/ayush/kde
Type=btrfs
Options=rw,nofail,noatime,compress=zstd:3,nossd,space_cache=v2,subvol=@kde

[Install]
WantedBy=multi-user.target
